<launch>
  <!-- The navigation_2d launch file includes all of the launch files needed for a robot to accomplish 2D navigation.  
    The nodes needed for navigation are map_server, amcl, and move_base.-->

  <!-- Settings -->
  <arg name="namespace" default="" />
  <arg name="robot_type" default="pioneer" />
  <!-- Map name -->
  <arg name="map" default="level1" />
  <!-- Move_base configuration folder. -->
  <arg name="move_base_config" default="2d" />
  <!-- NOTE: move_base_config specifies the folder to find the .yaml config files for
       move_base. If you would like to safely play around with navigation settings,
       you can copy the default folder, rename it, then change move_base_config. -->
  <arg name="use_static_map" default="true" />

  <!-- Robot topic and frame mappings-->
  <arg name="laser_topic" />
  <arg name="cmd_vel_topic" />
  <arg name="odom_topic" />
  <arg name="odom_link" />
  <arg name="base_link" />

  <!-- use static map -->
  <group if="$(arg use_static_map)">

    <!-- Launch Map Server -->
    <include file="$(find uml_hri_nerve_navigation)/launch/navigation/map_server.launch">
      <arg name="map_name" value="$(arg map)" />
    </include>

    <!--- Launch AMCL (Laser Localization) -->
    <include file="$(find uml_hri_nerve_navigation)/launch/navigation/amcl.launch" if="$(eval not namespace)">
      <arg name="obstacle_bot" value="false" />
      <arg name="scan_topic" value="$(arg laser_topic)" />
      <arg name="odom_link" value="$(arg odom_link)" />
      <arg name="base_link" value="$(arg base_link)" />
    </include>

    <!--- Launch AMCL (Laser Localization) with namespace-->
    <include file="$(find uml_hri_nerve_navigation)/launch/navigation/amcl.launch" unless="$(eval not namespace)" ns="$(arg namespace)">
      <arg name="obstacle_bot" value="false" />
      <arg name="scan_topic" value="$(arg laser_topic)" />
      <arg name="odom_link" value="$(arg odom_link)" />
      <arg name="base_link" value="$(arg base_link)" />
    </include>

  </group>

  <!-- dont use static map -->
  <group unless="$(arg use_static_map)">

    <!-- Include gmapper -->
    <include file="$(find uml_hri_nerve_navigation)/launch/navigation/gmapper.launch" if="$(eval not namespace)">
      <arg name="scan_topic" value="$(arg laser_topic)" />
      <arg name="odom_link" value="$(arg odom_link)" />
      <arg name="base_link" value="$(arg base_link)" />
    </include>

    <!-- Include gmapper with namespace-->
    <include file="$(find uml_hri_nerve_navigation)/launch/navigation/gmapper.launch" unless="$(eval not namespace)" ns="$(arg namespace)">
      <arg name="scan_topic" value="$(arg laser_topic)" />
      <arg name="odom_link" value="$(arg odom_link)" />
      <arg name="base_link" value="$(arg base_link)" />
    </include>

  </group>


  <!-- Launch move_base -->
  <!-- Note that you will also need to change the relevant .yaml files (or make new copies)
       if you wish to use another namespace/robot_name. -->
  <group if="$(eval not namespace)">
    <include file="$(find uml_hri_nerve_navigation)/launch/navigation/move_base.launch" if="$(arg use_static_map)">
      <arg name="config" value="$(arg move_base_config)" />
      <arg name="robot_type" value="$(arg robot_type)" />
      <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)" />
      <arg name="odom_topic" value="$(arg odom_topic)" />
    </include>

    <include file="$(find uml_hri_nerve_navigation)/launch/navigation/move_base.launch" unless="$(arg use_static_map)">
      <arg name="config" value="$(arg move_base_config)_unknown" />
      <arg name="robot_type" value="$(arg robot_type)" />
      <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)" />
      <arg name="odom_topic" value="$(arg odom_topic)" />
    </include>
  </group>

  <group unless="$(eval not namespace)">
    <include file="$(find uml_hri_nerve_navigation)/launch/navigation/move_base.launch" if="$(arg use_static_map)" ns="$(arg namespace)">
      <arg name="config" value="$(arg move_base_config)" />
      <arg name="robot_type" value="$(arg robot_type)" />
      <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)" />
      <arg name="odom_topic" value="$(arg odom_topic)" />
    </include>

    <include file="$(find uml_hri_nerve_navigation)/launch/navigation/move_base.launch" unless="$(arg use_static_map)" ns="$(arg namespace)">
      <arg name="config" value="$(arg move_base_config)_unknown" />
      <arg name="robot_type" value="$(arg robot_type)" />
      <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)" />
      <arg name="odom_topic" value="$(arg odom_topic)" />
    </include>
  </group>

</launch>
