<!-- Assumes Gazebo is already running -->
<launch>
  <!-- This launch file includes all the nodes needed to setup a simulated obstacle_bot for navigation -->

  <!-- Settings (Robot position args are overidden by spawn_world.launch)-->
  <arg name="x" default="0.0" />
  <arg name="y" default="0.0" />
  <arg name="z" default="0.0" />
  <arg name="yaw" default="0.0" />
  <!-- Rotation in radians. -->
  <arg name="level" default="level1" />
  <arg name="navigate" default="" /> <!-- Not used, just here to prevent extra arg errors -->
  <arg name="3d" default="" /> <!-- Not used, just here to prevent extra arg errors -->

  <!-- robot determines the topics to be published, and serves as a unique identifier for Gazebo -->
  <arg name="robot" value="obstacle_bot"   />
  <arg name="namespace" value="obstacle_bot"   />

  <!-- Robot topics -->
  <arg name="laser_topic" value="scan" />
  <arg name="cmd_vel_topic" value="cmd_vel" />
  <arg name="odom_topic" value="odom" />
  <arg name="odom_link" value="$(arg namespace)/odom"/>
  <arg name="base_link" value="$(arg namespace)/base_footprint" />
  
  <!-- Setup nav stack-->
  <include file="$(find uml_hri_nerve_navigation)/launch/navigation/setup_navigation.launch">
    <arg name="robot" value="$(arg robot)"/>
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="x" value="$(arg x)" />
    <arg name="y" value="$(arg y)" />
    <arg name="z" value="$(arg z)" />
    <arg name="yaw" value="$(arg yaw)" /> <!-- Rotation in radians. -->
    <arg name="level" value="$(arg level)" />
    <arg name="navigate" value="$(arg navigate)" />
    <arg name="3d" value="$(arg 3d)" />
    <arg name="laser_topic" value="$(arg laser_topic)" />
    <arg name="pointcloud_topic" value="$(arg pointcloud_topic)_filtered" />
    <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)" />
    <arg name="odom_topic" value="$(arg odom_topic)" />
    <arg name="odom_link" value="$(arg odom_link)"/>
    <arg name="base_link" value="$(arg base_link)" />
  </include>

  <!-- Start moving -->
  <node name="obstacle_bot_mover" type="obstacle_bot_node" pkg="uml_hri_nerve_navigation" ns="$(arg namespace)" />

</launch>
