<launch>
  <!-- This launch file runs the custom mover and logger nodes and causes the robot to start navigating.  The code for the nodes
  can be found at src/mover.cpp and src/referee.cpp.  The mover node will read from the goal topic and cause the robot to start 
  moving between goals A and B for a specified number of iterations. The logger node will publish a custom topic that contains
  important robot log data.  -->

  <arg name="iterations" default="1" />
  <arg name="clear_costmaps" default="true" />
  <arg name="obstacle_bot" default="false" />

  <!-- Start moving-->
  <node name="mover_node" pkg="uml_hri_nerve_navigation" type="mover_node" output="screen" required="true">
    <param name="iterations" value="$(arg iterations)" />
    <param name="clear_costmaps" value="$(arg clear_costmaps)" />
  </node>

  <!-- Start moving obstacle_bot if present-->
  <node name="obstacle_bot_mover" pkg="uml_hri_nerve_navigation" type="obstacle_bot_node" ns="obstacle_bot" />

</launch>
