<launch>

    <arg name="r1_goal_x" default="3.0"/>
    <arg name="r1_goal_y" default="8.0"/>
    <arg name="r2_goal_x" default="6.0"/>
    <arg name="r2_goal_y" default="8.0"/>

    <node name="tuw_goal_sender_node" pkg="uml_hri_nerve_navigation" type="tuw_goal_sender_node" output="screen">
        <param name="r1_goal_x" value="$(arg r1_goal_x)"/>
        <param name="r1_goal_y" value="$(arg r1_goal_y)"/>
        <param name="r2_goal_x" value="$(arg r2_goal_x)"/>
        <param name="r2_goal_y" value="$(arg r2_goal_y)"/>
    </node>

</launch>